/********************** Landing Page **********************/
.landing-page{
    background-image: url(../images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-page header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.landing-page header .nav-wrap{
    width: 100%;
    height: 6.25rem;
    padding: 0 10rem;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.landing-page .logo li{
    font-family: var(--ff-en-belleza);
    font-size: 40px;
    font-weight: normal;
    color: #fff;
    
}
.landing-page .nav-bar{
    display: flex;
    column-gap: 64px;
   
}

.landing-page .nav-bar li a{
    font-family: var(--ff-kr-notosans);
    font-size: 24px;
    font-weight:400;
    color: #fff;
    display: block;
    transition: all .3s;
}
.landing-page .nav-bar a:hover{
    transform: scale(1.2);
}

.landing-page-maintxt{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.landing-page-maintxt .left-year{
    font-family: var(--ff-num-yesevaone);
    font-size: 150px;
    color: #fff;
    font-weight: normal;
    animation: leftyear 1s linear;
}
.landing-page-maintxt .right-year{
    font-family: var(--ff-num-yesevaone);
    font-size: 150px;
    color: #fff;
    font-weight: normal;
    animation: rightyear 1s linear;
}
.landing-page-maintxt .center-text{
    font-family: var(--ff-kr-notosans);
    font-weight: 400;
    font-size: 40px;
    line-height: 1.6;
    text-align: center;
    color: #fff;
    animation:fade-down .5s linear;
}
.landing-page-maintxt .center-text span{
    font-weight: 600;
}


/******* year animation *******/
@keyframes leftyear{
    0%{
       
       transform: translateY(110%);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes rightyear{
    0%{
       
       transform: translateY(-110%);
    }
    100%{
        transform: translateY(0);
    }
}
/******* scroll Btn *******/
.scroll-btn{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
}
.scroll-btn a{
    display:flex;
    color:#fff;
    font-weight:500;
    text-align: center;
    position:relative;
    justify-content: center;
    align-items: center;
    text-transform:uppercase;
    font-size:12px;
    width:4.375rem;
    height:4.375rem;
    
}
/* stroke-dasharray : 첫번째 - 선길이, 두번째 - 끊어진 길이 */
/* stroke-dashoffset : 전체 스트로크선 이동 */
.scroll-btn a svg{
    position:absolute;
    left:0;
    top:0;
}
.scroll-btn a svg rect{
    fill:transparent;
    stroke:#fff;
    stroke-width: .125rem;
    stroke-dasharray:338% 37;
    stroke-dashoffset:240%;
    transition:all 1.5s;
    animation: svg 3s infinite;
}
/******* scroll svg animation *******/
    @keyframes svg{
        100%{
            stroke-dashoffset: -100%
        }
    }


/********************** Company Intro **********************/
.intro{
  background-color: #141414;
}
.intro .intro-wrap{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.intro .intro-wrap p{
    font-family: var(--ff-kr-notosans);
    font-size: 32px;
    font-weight: 400;
    line-height: 2.2;
    color: #fff;
}

/********************** Artist Style**********************/
.artist{
    background-color: #141414;
}
.artist .title{
    padding-bottom: 2rem;
}
.artist-horizontal{
    width: 100%;
    height: auto;
    background-color: #141414;
    overflow:hidden;
    
    
}
.artist-wrapper {
    width: 375rem;
    display: flex;
    column-gap: 16px;
    /* white-space: nowrap; */
    
   
}
.artist-wrapper .artist-item{
    width: 21.25rem;
    height: 32.5rem;
    position: relative;
    overflow: hidden; 
}
.artist-wrapper .artist-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.artist-wrapper .artist-item .artist-txt{
    
    width: 100%;
    height: 130px;
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    bottom: 0;
    right: 0;
    padding-top: 1rem;
    padding-right: 1rem;
}

 /* .artist-wrapper .artist-item:hover .artist-txt{
    width: 100%;
    height: 9.375rem;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    bottom: 0;
    right: 0;
    padding-top: 2rem;
    padding-right: 1rem;
    _animation: artist-txt-show .3s linear;
    
} */

 @keyframes artist-txt-show{
    0%{
        bottom: -9.375rem;
    }
    100%{
        bottom: 0;
    }
}  

.artist-txt span{
    font-size: 20px;
    font-weight: 400;
    font-family: var(--ff-en-roboto);
    color: #fff;
    text-align: right;
    display: block;
}
.artist-txt p{
    font-size: 62px;
    font-weight: 600;
    font-family: var(--ff-en-roboto);
    color: #fff;
    text-align: right;
}
/* 사진 정리 */
/* 마우스 휠하면 가로스크롤 넣어야함 */
/* 배우 이름 디자인 */


